In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Selamat, Anda Seorang Data Scientist!

Untuk studi kasus ini, anggap kalian adalah seorang data scientist di sebuah perusahaan telekomunikasi yang terkenal. 

Dengan berbekal ilmu yang didapat dari kelas Digital Skola, kalian siap untuk menyelesaikan tugas pertama kalian sebagai data scientist.

Pada kasus ini, perusahaan meminta kalian untuk mencari tahu karakteristik pelanggan-pelanggan apa saja yang akan kemungkinan _churn_, yakni pelanggan yang tidak akan menggunakan produk kita lagi. 

Data yang sudah di kumpulkan kemudian diberikan ke kalian untuk diolah. 

Tujuan utama kalian adalah:

1. Mencari karakteristik pelanggan yang berpotensi churn
2. Daftar pelanggan dari karakteristik tersebut berupa file excel

## Getting to know data

In [ ]:
# import necessary modules
import pandas as pd

In [ ]:
# load the data
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Telco/Telco_Churn.csv')

In [ ]:
# check out first few data
df.head()

,customerID,gender,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,Electronic check,70.70,151.65,Yes

In [ ]:
# check total data
df.shape[0]
#or len(df)
tot_data = df.shape[0]

In [ ]:
# show basic info of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerID      7043 non-null   object
 1   gender          7043 non-null   object
 2   PaymentMethod   7043 non-null   object
 3   MonthlyCharges  7043 non-null   float64
 4   TotalCharges    7043 non-null   object
 5   Churn           7043 non-null   object
dtypes: float64(1), object(5)
memory usage: 330.3+ KB

In [ ]:
df.describe()
#Menampilkan data Numeric

       MonthlyCharges
count     7043.000000
mean        64.761692
std         30.090047
min         18.250000
25%         35.500000
50%         70.350000
75%         89.850000
max        118.750000

Hmm, ada yang aneh mengenai variabel `TotalCharges`, apa ya?

A : Variabel bukan float, mungkin karena ada typo atau ada data yang tidak sesuai dengan format float, sehingga pandas jadi bingung, default ke object.

## Getting to Know Variable

In [ ]:
# Get unique value of gender 
df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
# Get unique value of PaymentMethod
df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [ ]:
# get total data per gender
df.groupby('gender').size() / tot_data * 100

gender
Female    49.52435
Male      50.47565
dtype: float64

In [ ]:
# get total data per PaymentMethod
df.groupby('PaymentMethod').size() / tot_data * 100

PaymentMethod
Bank transfer (automatic)    21.922476
Credit card (automatic)      21.610109
Electronic check             33.579441
Mailed check                 22.887974
dtype: float64

`TotalCharges` sekilas berbentuk bilangan real, tapi kenapa pandas anggap sebagai Object?. Coba kita convert!

In [ ]:
# TotalCharges found as a object/mix type, not float64, change that
df['TotalCharges'].astype('float')

ValueError: ignored

Ternyata ada data yang kosong, atau mengandung spasi, data apakah itu?

In [ ]:
# find column in TotalCharges that have ''
df[df['TotalCharges'] == ' ']

,customerID,gender,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,Mailed check,20.25,,No
936,5709-LVOEQ,Female,Mailed check,80.85,,No
1082,4367-NUYAO,Male,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,Mailed check,19.85,,No
3826,3213-VVOLG,Male,Mailed check,25.35,,No
4380,2520-SGTTA,Female,Mailed check,20.00,,No
5218,2923-ARZLG,Male,Mailed check,19.70,,No
6670,4075-WKNIU,Female,Mailed check,73.35,,No
6754,2775-SEFEE,Male,Bank transfer (automatic),61.90,,No

Apa yang harus kita lakukan? Biasanya tergantung pada konteks project. Kita bisa:
1. Mengisi dengan data rata-rata
2. Menghapus data (kalau sedikit)
3. Mengisi dengan suatu nilai default

Untuk kasus ini, mari kita isi dengan nilai 0, dan coba konversi ke _float_ kembali.

In [ ]:
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = 0

In [ ]:
df.loc[df['TotalCharges'] == ' ']
df['TotalCharges'] = df['TotalCharges'].astype('float') #Coba lagi ternyata sudah tak ada lagi.

In [ ]:
# use describe to show statistics of numerical column in df
df.info()#TotalCharges sudah berubah jadi float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerID      7043 non-null   object
 1   gender          7043 non-null   object
 2   PaymentMethod   7043 non-null   object
 3   MonthlyCharges  7043 non-null   float64
 4   TotalCharges    7043 non-null   float64
 5   Churn           7043 non-null   object
dtypes: float64(2), object(4)
memory usage: 330.3+ KB

In [ ]:
df.describe()

       MonthlyCharges  TotalCharges
count     7043.000000   7043.000000
mean        64.761692   2279.734304
std         30.090047   2266.794470
min         18.250000      0.000000
25%         35.500000    398.550000
50%         70.350000   1394.550000
75%         89.850000   3786.600000
max        118.750000   8684.800000

## Relasi Terhadap Churn
Kita akan melihat secara independent setiap variabel, mana yang memiliki presentase churn yang banyak sebagai sebuah karakterstik grup tersebut.

In [ ]:
# distribution of gender + churn (in percentage)
df.groupby(['gender','Churn']).size() / tot_data * 100

gender  Churn
Female  No       36.191964
        Yes      13.332387
Male    No       37.271049
        Yes      13.204600
dtype: float64

Apakah ada pola yang menonjol?

A : Tidak

In [ ]:
# distribution of PaymentMethod + churn (in percentage)
df.groupby(['PaymentMethod','Churn']).size() / tot_data * 100

PaymentMethod              Churn
Bank transfer (automatic)  No       18.259265
                           Yes       3.663212
Credit card (automatic)    No       18.316058
                           Yes       3.294051
Electronic check           No       18.372852
                           Yes      15.206588
Mailed check               No       18.514837
                           Yes       4.373136
dtype: float64

Apakah ada pola yang menonjol?

A : Ya, Jumlah Churn Electronic Check lebih signifikan.

In [ ]:
# top 10 customer id with highest MonthlyCharges
df.sort_values('MonthlyCharges', ascending = False) [:10]

,customerID,gender,PaymentMethod,MonthlyCharges,TotalCharges,Churn
4586,7569-NMZYQ,Female,Bank transfer (automatic),118.75,8672.45,No
2115,8984-HPEMB,Female,Electronic check,118.65,8477.60,No
3894,5989-AXPUC,Female,Mailed check,118.60,7990.05,No
4804,5734-EJKXG,Female,Electronic check,118.60,7365.70,No
5127,8199-ZLLSA,Male,Bank transfer (automatic),118.35,7804.15,Yes
6118,9924-JPRMC,Male,Electronic check,118.20,8547.15,No
4610,2889-FPWRM,Male,Bank transfer (automatic),117.80,8684.80,Yes
3205,3810-DVDQQ,Female,Bank transfer (automatic),117.60,8308.90,No
6768,9739-JLPQJ,Female,Credit card (automatic),117.50,8670.10,No
4875,2302-ANTDP,Female,Electronic check,117.45,5438.90,Yes

In [ ]:
df.describe()

       MonthlyCharges  TotalCharges
count     7043.000000   7043.000000
mean        64.761692   2279.734304
std         30.090047   2266.794470
min         18.250000      0.000000
25%         35.500000    398.550000
50%         70.350000   1394.550000
75%         89.850000   3786.600000
max        118.750000   8684.800000

In [ ]:
# get the mean of MonthlyCharges
MC_Mean = df['MonthlyCharges'].mean()
MC_Mean

64.76169246059918

In [ ]:
# create tier based on MonthlyCharges based on average, whether below or above average
def monthly_charges_status(charge):
  if charge >= MC_Mean:
    return 'above'
  else :
    return 'below'

df['MonthlyChargesStatus'] = df['MonthlyCharges'].apply(monthly_charges_status)

In [ ]:
df.head()

,customerID,gender,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MonthlyChargesStatus
0,7590-VHVEG,Female,Electronic check,29.85,29.85,No,below
1,5575-GNVDE,Male,Mailed check,56.95,1889.50,No,below
2,3668-QPYBK,Male,Mailed check,53.85,108.15,Yes,below
3,7795-CFOCW,Male,Bank transfer (automatic),42.30,1840.75,No,below
4,9237-HQITU,Female,Electronic check,70.70,151.65,Yes,above

In [ ]:
# group based on new info, tier of monthly charges and churn
df.groupby(['MonthlyChargesStatus', 'Churn']).size() / tot_data * 100

MonthlyChargesStatus  Churn
above                 No       36.461735
                      Yes      19.238961
below                 No       37.001278
                      Yes       7.298026
dtype: float64

Apakah ada pola yang menonjol?

A : Ya, MonthlyChargesStatus untuk above sangat tinggi.

Untuk `TotalCharges`, dengan asumsi bahwa variabel ini adalah akumulasi total transaksi keseluruhan, maka kita bisa mendapatkan total durasi pelanggan bersama kita dengan membaginya dengan `MonthlyCharges`.

In [ ]:
# Assuming total Charges is represent duration of monthly charges, we could reverse calculated the duration
df['duration'] = df['TotalCharges'] / df['MonthlyCharges']
df.head()

,customerID,gender,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MonthlyChargesStatus,duration
0,7590-VHVEG,Female,Electronic check,29.85,29.85,No,below,1.000000
1,5575-GNVDE,Male,Mailed check,56.95,1889.50,No,below,33.178227
2,3668-QPYBK,Male,Mailed check,53.85,108.15,Yes,below,2.008357
3,7795-CFOCW,Male,Bank transfer (automatic),42.30,1840.75,No,below,43.516548
4,9237-HQITU,Female,Electronic check,70.70,151.65,Yes,above,2.144979

In [ ]:
# describe duration information
df.describe()

       MonthlyCharges  TotalCharges     duration
count     7043.000000   7043.000000  7043.000000
mean        64.761692   2279.734304    32.373431
std         30.090047   2266.794470    24.595943
min         18.250000      0.000000     0.000000
25%         35.500000    398.550000     8.717230
50%         70.350000   1394.550000    28.673115
75%         89.850000   3786.600000    55.244460
max        118.750000   8684.800000    79.341772

In [ ]:
# create tier of duration based on it's QIR (quarter interval range)
def duration_status(duration):
  if duration <= 9: return "very low"
  elif duration <= 29: return "low"
  elif duration <= 55: return "medium"
  else: return "high"

df['duration_status'] = df['duration'].apply(duration_status)
df.head()

,customerID,gender,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MonthlyChargesStatus,duration,duration_status
0,7590-VHVEG,Female,Electronic check,29.85,29.85,No,below,1.000000,very low
1,5575-GNVDE,Male,Mailed check,56.95,1889.50,No,below,33.178227,medium
2,3668-QPYBK,Male,Mailed check,53.85,108.15,Yes,below,2.008357,very low
3,7795-CFOCW,Male,Bank transfer (automatic),42.30,1840.75,No,below,43.516548,medium
4,9237-HQITU,Female,Electronic check,70.70,151.65,Yes,above,2.144979,very low

In [ ]:
# get distribution of DurationStatus + churn
df.groupby(['duration_status','Churn']).size() / tot_data * 100

duration_status  Churn
high             No       23.228738
                 Yes       1.959392
low              No       17.705523
                 Yes       7.156041
medium           No       19.863694
                 Yes       4.713900
very low         No       12.665058
                 Yes      12.707653
dtype: float64

Apakah ada pola yang menonjol?

A : Ya, kelas duration yang very low memiliki 12 churn owner, lebih banyak dibandingkan yang lain.

## Kesimpulan
Dari analisa yang sudah kita lakukan, maka terdapat karakteristik yang cukup menonjol dari pelanggan yang churn, yakni:
1. Tipe pembayaran adalah "Electronic check"
2. Status bayaran bulanannya adalah "above"
3. Status durasinya adalah "very low"

Nice! Kalian sudah menjawab pertanyaan (1) dengan data ala seorang data scientist.

Selanjutnya, kita tinggal mengexport data yang sesuai dengan kriteria tersebut ke dalam sebuah excel untuk dilaporkan!

In [ ]:
df_potential_churn = df[
    (df['PaymentMethod'] == 'Electronic check') & \
    (df['MonthlyChargesStatus'] == 'above') & \
    (df['duration_status'] == 'very low')
][['customerID', 'gender', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']]

In [ ]:
df_potential_churn.to_excel('/content/drive/MyDrive/Colab Notebooks/Telco/Churn_Customer.xlsx', index=False)